**
!go.mod
!Dockerfile
!cmd/
!cmd/**
!internal/
!internal/**
!tools/
tools/**
!tools/RuntimeExtractor/
!tools/RuntimeExtractor/*.cs
!.runtime/
.runtime/**
!.runtime/container/
!.runtime/container/trp
